apiVersion: v1
kind: ConfigMap
metadata:
  name: stackspin-vikunja-values
  namespace: stackspout
data:
  # https://kolaente.dev/vikunja/helm-chart/src/branch/main/values.yaml
  values.yaml: |
    frontend:
      image:
        tag: 0.22
      ingress:
        main:
          enabled: true
          annotations:
            kubernetes.io/tls-acme: "true"
          hosts:
            - host: "${vikunja_domain}"
              paths:
                 - path: /
          tls:
            - secretName: vikunja-tls
              hosts:
                - "${vikunja_domain}"
      env:
        VIKUNJA_API_URL: https://${vikunja_domain}/api/v1
    api:
      image:
        tag: 0.22
      persistence:
        data:
          existingClaim: vikunja-files
      ingress:
        main:
          enabled: true
          annotations:
            kubernetes.io/tls-acme: "true"
          hosts:
            - host: "${vikunja_domain}"
              paths:
                 - path: /api
          tls:
            - secretName: vikunja-tls
              hosts:
                - "${vikunja_domain}"
      configMaps:
        config:
          data:
            config.yml: |-
              auth:
                openid:
                  # https://vikunja.io/docs/openid-example-configurations/
                  # Example: https://kolaente.dev/vikunja/vikunja/src/branch/main/config.yml.sample#L313
                  enabled: true
                  redirecturl: "https://${vikunja_domain}/auth/openid/"
                  providers:
                    - name: Stackspin
                      authurl: "https://${hydra_domain}"
                      clientid: "${client_id}"
                      clientsecret: "${client_secret}"
                local:
                  enabled: false
              mailer:
                enabled: "${outgoing_mail_enabled}"
                host: "${outgoing_mail_smtp_host}"
                port: "${outgoing_mail_smtp_port}"
                username: "${outgoing_mail_smtp_user}"
                password: "${outgoing_mail_smtp_password}"
                fromemail: "${outgoing_mail_from_address}"
                forcessl: true
              service:
                #rootpath: "/app/vikunja"
                frontendurl: "https://${vikunja_domain}"
                timezone: "CET"
                JWTSecret: "${jwt}"
              database:
                type: postgres
                host: vikunja-postgresql
                password: "${postgresql_password}"
              # https://vikunja.io/docs/config-options/#log
              log:
                standard: stderr
                level: debug
                database: file
                databaselevel: debug
                http: file
                echo: file
                events: file
                eventslevel: debug
                mail: file
                maillevel: debug
              defaultsettings:
                avatar_provider: gravatar
                discoverable_by_name: true
                discoverable_by_email: true
                week_start: 1
                timezone: CET
                # TODO default_project_id
    global:
      labels:
        stackspin.net/backupSet: "vikunja"
    podLabels:
      stackspin.net/backupSet: "vikunja"
    podAnnotations:
      backup.velero.io/backup-volumes: "data"
    postgresql:
      enabled: true
      commonLabels:
        stackspin.net/backupSet: "vikunja"
      global:
        postgresql:
          auth:
            database: vikunja
            username: vikunja
            password: "${postgresql_password}"
            postgresPassword: "${postgresql_admin_password}"
      primary:
        persistence:
          existingClaim: vikunja-postgres
        podAnnotations:
          backup.velero.io/backup-volumes: "data"
    typesense:
      enabled: false
