apiVersion: v1
kind: ConfigMap
metadata:
  name: stackspin-vikunja-extra-values
  namespace: stackspout
data:
  # https://kolaente.dev/vikunja/helm-chart/src/branch/main/values.yaml
  values.yaml: |
    vikunja:
      #probes:
      #  liveness:
      #    enabled: true
      #    custom: true
      #    spec:
      #      httpGet:
      #      exec:
      #        command:
      #        - sh
      #        - -c
      #        - 'curl -s http://localhost:3456/api/v1/info | grep "Stackspin"'
      #      initialDelaySeconds: 30
      #      periodSeconds: 30
      #      timeoutSeconds: 1
      #      failureThreshold: 9

      persistence:
        data:
          existingClaim: vikunja-extra-files
      ingress:
        main:
          enabled: true
          annotations:
            kubernetes.io/tls-acme: "true"
          hosts:
            - host: "${vikunja_extra_domain}"
              paths:
                 - path: /
          tls:
            - secretName: vikunja-extra-tls
              hosts:
                - "${vikunja_extra_domain}"
      configMaps:
        api-config:
          data:
            config.yml: |-
              auth:
                openid:
                  # https://vikunja.io/docs/openid-example-configurations/
                  # Example: https://kolaente.dev/vikunja/vikunja/src/branch/main/config.yml.sample#L313
                  enabled: true
                  redirecturl: "https://${vikunja_extra_domain}/auth/openid/"
                  providers:
                    - name: Stackspin
                      authurl: "https://${hydra_domain}"
                      clientid: "${client_id}"
                      clientsecret: "${client_secret}"
                local:
                  enabled: false
              mailer:
                enabled: "${outgoing_mail_enabled}"
                host: "${outgoing_mail_smtp_host}"
                port: "${outgoing_mail_smtp_port}"
                username: "${outgoing_mail_smtp_user}"
                password: "${outgoing_mail_smtp_password}"
                fromemail: "${outgoing_mail_from_address}"
                forcessl: true
              service:
                #rootpath: "/app/vikunja"
                publicurl: "https://${vikunja_extra_domain}"
                timezone: "CET"
                motd: "Welcome to ${domain_extra}!"
                JWTSecret: "${jwt}"
                jwtttl: 400000
                maxitemsperpage: 200
                enablecaldav: true
                enableuserdeletion: false
                enablepublicteams: true
                enableopenidteamusersearch: true
                # customlogourl:
              database:
                type: postgres
                host: vikunja-extra-postgresql
                password: "${postgresql_password}"
              # https://vikunja.io/docs/config-options/#log
              log:
                standard: stderr
                level: debug
                databaselevel: debug
                mail: stderr
                maillevel: debug
              defaultsettings:
                avatar_provider: gravatar
                # email_reminders_enabled: true
                overdue_task_reminders_enabled: true
                discoverable_by_name: true
                discoverable_by_email: true
                week_start: 1
                # default_project_id
    global:
      labels:
        stackspin.net/backupSet: "vikunja-extra"
    podLabels:
      stackspin.net/backupSet: "vikunja-extra"
    podAnnotations:
      backup.velero.io/backup-volumes: "data"
    postgresql:
      enabled: true
      commonLabels:
        stackspin.net/backupSet: "vikunja-extra"
      global:
        postgresql:
          auth:
            database: vikunja
            username: vikunja
            password: "${postgresql_password}"
            postgresPassword: "${postgresql_admin_password}"
      primary:
        persistence:
          existingClaim: vikunja-extra-postgres
        podAnnotations:
          backup.velero.io/backup-volumes: "data"
    typesense:
      enabled: false
