apiVersion: v1
kind: ConfigMap
metadata:
  name: stackspin-penpot-values
  namespace: stackspout
data:
  values.yaml: |
    global:
      postgresqlEnabled: true
      redisEnabled: true
    redis:
      architecture: standalone

    frontend:
      podLabels:
        stackspin.net/backupSet: "penpot"
    backend:
      podLabels:
        stackspin.net/backupSet: "penpot"
    exporter:
      podLabels:
        stackspin.net/backupSet: "penpot"
    backend:
      podAnnotations:
        backup.velero.io/backup-volumes: "app-data"
    persistence:
      assets:
        enabled: true
        existingClaim: "penpot-assets"

    ingress:
      enabled: true
      annotations:
        kubernetes.io/tls-acme: "true"
      hosts: ["${penpot_domain}"]
      tls:
        - secretName: penpot-tls
          hosts:
            - "${penpot_domain}"
      integrations:
        certManager:
          enabled: true

    config:
      publicUri: "https://${penpot_domain}"
      #apiSecretKey: "W8oErul6XcazLUhpsP_y0zttNSx_EkItWmD0TKTEvJuWSsjvkfEHxk9uNmrCOZ-p_Y6gIRV7yqQ4j04JcQX3xg"
      apiSecretKey: "${api_key}"
      # -- Comma separated list of allowed domains to register. Empty to allow all domains.
      registrationDomainWhitelist: "ftt.gmbh"
      telemetryEnabled: false
      # -- The feature flags to enable. Check [the official docs](https://help.penpot.app/technical-guide/configuration/) for more info.
      # @section -- Configuration parameters
      #flags: "enable-registration enable-login-with-password disable-email-verification enable-smtp"
      #flags:
      #  backend_api_doc: false
      #  cors: false
      #  demo_users: false
      #  demo_warning: false
      #  insecure_register: false
      #  log_emails: false
      #  log_invitation_token: false
      #  login: true
      #  mail_verification: true
      #  registration: true
      #  secure_session_cookies: true
      #  user_feedback: false
      smtp:
        enabled: "${outgoing_mail_enabled}"
        host: "${outgoing_mail_smtp_host}"
        port: "${outgoing_mail_smtp_port}"
        username: "${outgoing_mail_smtp_user}"
        password: "${outgoing_mail_smtp_password}"
        defaultFrom: "${outgoing_mail_from_address}"
        defaultReplyTo: "${outgoing_mail_from_address}"
      providers:
        oidc:
          enabled: true
          clientID: "${client_id}"
          clientSecret: "${client_secret}"
          baseURI: "https://${hydra_domain}"
          #autoDiscoverUrl: 'https://${hydra_domain}/.well-known/openid-configuration'
