apiVersion: v1
kind: ConfigMap
metadata:
  name: stackspin-zammad-values
  namespace: stackspout
data:
  values.yaml: |
    # https://github.com/zammad/zammad-helm/blob/main/zammad/values.yaml
    commonLabels:
      stackspin.net/backupSet: "zammad"

    ingress:
      enabled: true
      annotations:
        kubernetes.io/tls-acme: "true"
        nginx.ingress.kubernetes.io/configuration-snippet: |
          more_set_headers "Content-Security-Policy: frame-ancestors 'self' files.${domain}";
      hosts:
        - host: "${zammad_domain}"
          paths:
             - path: /
               pathType: Prefix
        - host: "${domain_zammad}"
          paths:
             - path: /
               pathType: Prefix
      tls:
        - secretName: zammad-tls
          hosts:
            - "${zammad_domain}"
        - secretName: zammad-tls-2
          hosts:
            - "${domain_zammad}"

    zammadConfig:
      minio:
        enabled: false
      postgresql:
        enabled: true
        user: "zammad"
        pass: "${postgresql_password}"
        db: "zammad"
      redis:
        pass: "${redis_password}"

    postgresql:
      # https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
      commonLabels:
        stackspin.net/backupSet: "zammad"
      auth:
        username: "zammad"
        database: "zammad"
        postgresPassword: "${postgresql_postgres_password}"
        password: "${postgresql_password}"
      podAnnotations:
        backup.velero.io/backup-volumes: "data"
      primary:
        persistence:
          existingClaim: zammad-postgres-data

    redis:
      auth:
        password: "${redis_password}"

    autoWizard:
      enabled: false

    # Zammad has no option for SMTP pre-config and no OIDC support so far
    # Adjust zammad Mailing config
    #    mailer:
    #      enabled: "${outgoing_mail_enabled}"
    #      host: "${outgoing_mail_smtp_host}"
    #      port: "${outgoing_mail_smtp_port}"
    #      username: "${outgoing_mail_smtp_user}"
    #      password: "${outgoing_mail_smtp_password}"
    #      fromemail: "${outgoing_mail_from_address}"
    # Adjust zammad OpenID Connect Single Sign-On Configuration
    #    - name: Stackspin
    #      key: "${client_id}"
    #      secret: "${client_secret}"
    #      autoDiscoverUrl: 'https://${hydra_domain}/.well-known/openid-configuration'
